<div class="container">
<form #loginForm="ngForm" (ngSubmit)="onLoginUser(loginForm)">
  <div class="form-group">
    <label for="login">Login     </label>
    <input type="text" ngModel name="login" class="form-control" id="login" required>
  </div>
  <div class="form-group">
    <label for="password">Password   </label>
    <input type="password" ngModel name="password" class="form-control" id="password" required>
  </div>
  <div class="modal-footer">
    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
  </div>
  <div class="modal-footer">
    <a routerLink="/register">If you don't have an account, click to register!</a>
  </div>
</form>
</div>
