<div class="container">
<form #addForm="ngForm" (ngSubmit)="onRegisterUser(addForm)">
    <div class="form-group">
      <label for="login">Name    </label>
      <input type="text" ngModel name="login" class="form-control" id="login" placeholder="Login" required>
    </div>
    <div class="form-group">
      <label for="password">Password </label>
      <input type="password" ngModel name="password" class="form-control" id="password" placeholder="Password" required>
    </div>
    <div class="modal-footer">
      <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Register</button>
    </div>
  <div class="modal-footer">
    <a routerLink="/login">Already registered? Click to login!</a>
  </div>
</form>
</div>
